body{
	background-color: #FFF5EE;
	font-family: ""微軟正黑體;
}

#section_forum_index{
	.container{
		.row{
			.col-10{
				.forum{
					border: 1px solid #DCDCDC;
					padding: 10px 10px 0px 10px;
					border-radius: 5px;
					background-color: #fff;
					.forum-item{
						.col-3{
							img{
								height: 220px;
								width: 220px;
								background-repeat: no-repeat;
							}
						}
					}
					hr{
						width: 100%;
						border: 0.8px dashed  #DCDCDC;
						margin-top: 10px;
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}

#section_forum_form{
	.container{
		.row{
			.col-10{
				background-color: #fff;
				padding: 20px 20px 10px 20px;
				border-radius: 10px;
				.form-group{
					.form-control{
						background-color: #DCDCDC;
					}
					.custom-file-label{
						background-color: #DCDCDC;
					}
				}
			}
		}
	}
}

#section_forum_show{
	.container{
		.row{
			.col-10{
				background-color: #fff;
				padding: 20px;
				border-radius: 5px;
				border: 1px solid #DCDCDC;
				.img{
					width: 600px;
					height: 370px;
				}
				.text-size{
					font-size: 20px;
				}
				.text-muted{
					font-size: 12px;
				}
				h5{
					background-color: #FFF5EE;
					padding: 10px 2px;
					border-radius: 5px;
					margin-top: 10px;
					margin-bottom: 16px;
				}
			}
		}
	}
}

#section_devise{
	.container{
		.row{
			.col-4{
				background-color: #fff;
				border-radius: 5px;
				margin-top: 80px;
				padding: 20px;
				.form-control{
					background-color: #DCDCDC;
				}
			}
		}
	}
}